  <h1>COMMENTS PAGE</h1>
  <form class="form new-comment-form">
      <div class="form-group">
        <label for="new-comment" id="comment-grab">Enter New Comment:</label>
        {{!-- <input class="form-input" type="text" id="project-name" name="project-name" /> --}}
        <input class="form-input" type="text" id="new-comment" />
      </div>
  </form>
  <button id="commentBtn">Add Comment</button>
  
 
 <script src="./js/comments.js"></script> 